.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
  max-width: fit-content;
}

.button,
.select {
  user-select: none;
  aspect-ratio: 1;
  font-size: 18px;
  padding: 5px;
  border-radius: 15px 15px;
  border: 1px solid #000000;
  background-color: #ffee005d;
  color: #000000;
  margin-bottom: 5px;
}

.button:not(:disabled),
.select:not(:disabled) {
  cursor: pointer;
  background-color: #fff000;
}

.currentPage {
  color: #fff000;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
